<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>
    <div id="app">
        Tanpa menggunakan template :
        <ul>
            <li v-for="book in books">
                {{ book }}
            </li>
        </ul>

        Menggunakan template :
        <ul>
            <template v-for="book in books">
                <li>{{ book }}</li>
            </template>
        </ul>

        Menggunakan index :
        <ul>
            <template v-for="(book, index) in books">
                <li>{{ index+1 }}. {{ book }}</li>
            </template>
        </ul>

        Menampilkan data objek
        <ul>
            <li v-for="(value, key) of book">
                {{ key }} : {{ value }}
            </li>
        </ul>
    </div>

    <script src="../dist/vue.js"></script>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                books: [
                    'C++ High Performance',
                    'Mastering Linux Secuity and Hardening',
                    'Python Programming Blueprints',
                    'Mastering PostgreSQL 10'
                ],
                book: {
                    id: 99,
                    title: 'C++ High Performance',
                    description: 'Write code that scales across CPU registers, multi-core, and machine clusters',
                    authors: 'Viktor, Bjorn Andrist',
                    publish_year: 2018,
                    price: 100000
                }
            }
        })
    </script>
</body>
</html>